trybe-exercicios/back-end/apiTrix/poo-trix
trybe-exercicios/back-end/bloco-23-nodejs-camada-de-servico-e-arquitetura-rest-e-restful/dia-1-arquitetura-de-software-camada-model/msc-architecture-trybecar
trybe-exercicios/back-end/bloco-23-nodejs-camada-de-servico-e-arquitetura-rest-e-restful/dia-3-arquitetura-de-software-camada-controller/msc-architecture-trybecar
